@media (max-width: 1200px)
   .container
      max-width: 960px
@media (max-width: 992px)
   .container
      max-width: 700px
   .logo
      width: 134px
   .header
      &__top
         padding: 30px 0 30px
      &__search
         margin-left: 47px
      &__menu
         padding: 22px 0
         justify-content: space-around
         .menu-link
            font-size: 12px
            line-height: 15px  
   .search
      &__input
         max-width: 340px
         padding-left: 23px
   .breadcrumb-list__item:not(:last-child)::after 
      content: '/'
      margin-right: 2px
   .hotel
      padding: 23px 0 70px
      &-info
         &__offer
            margin-left: 14px
      &-description
         word-spacing: 1px
   .stars
      display: flex
   .star
      margin-right: 3px
@media (max-width: 768px)
   .container
      max-width: 576px
      width: 91%
   .header
      &__search, &__menu, &__user
         display: none
   .logo
      width: 133px
   .menu-button
      background-color: #fff
      width: 16px
      height: 11px
      border: none
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      cursor: pointer
      padding: 0
      &-line
         width: 16px
         height: 1px
         background-color: $text-color
   .stars
      flex-basis: auto
   .hotel
      &-wrapper
         justify-content: space-between
      &-name
         flex-basis: 100%
      &-info
         &__text
            width: 100%
         &__name
            margin: 10px 0 0
         &__offer
            order: -1
            margin-top: 5px
            margin-left: 0
         &__rating
            display: none
@media (max-width: 576px)
   .container
      width: 87%
@media (min-width: 320px) and (max-width: 480px)
   .logo
      width: 100px
   .header
      &__top 
         padding-top: 23px
   .hotel
      padding: 0 0 40px
      &-info
         &__offer
            padding: 3px 9px 4px
            margin-left: 1px
      &-name
         font-size: 23.6px
   .star
      width: 6px
      height: 6px
      margin-right: 4px
   .stars
      max-width: 47px
      margin-top: 4px