@media (max-width: 1200px)
   .container
      max-width: 960px
@media (max-width: 992px)
   .container
      max-width: 700px
   .header
      &__top
         padding: 30px 0 30px
      &__search
         margin-left: auto
      &__menu
         padding: 22px 0
         .menu-link
            font-size: 12px
            line-height: 15px  
   .search
      &__input
         max-width: 340px
@media (max-width: 768px)
   .container
      max-width: 576px
      width: 92%
   .header
      &__search, &__menu, &__user
         display: none
   .menu-button
      background-color: #fff
      width: 16px
      height: 11px
      border: none
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      cursor: pointer
      padding: 0
      &-line
         width: 16px
         height: 1px
         background-color: $text-color